<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Recipes</key>
	<dict>
		<key>Tamales</key>
		<dict>
			<key>Steps</key>
			<dict>
				<key>prepare</key>
				<dict>
					<key>img</key>
					<string>ckimg0.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
				<key>chop</key>
				<dict>
					<key>img</key>
					<string>ckimg1.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
				<key>cook</key>
				<dict>
					<key>img</key>
					<string>ckimg2.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
				<key>eat</key>
				<dict>
					<key>img</key>
					<string>ckimg3.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
				<key>clean</key>
				<dict>
					<key>img</key>
					<string>ckimg4.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
			</dict>
		</dict>
		<key>Eggs</key>
		<dict>
			<key>Steps</key>
			<dict>
				<key>prepare</key>
				<dict>
					<key>img</key>
					<string>ckimg0.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
				<key>chop</key>
				<dict>
					<key>img</key>
					<string>ckimg1.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
				<key>cook</key>
				<dict>
					<key>img</key>
					<string>ckimg2.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
				<key>eat</key>
				<dict>
					<key>img</key>
					<string>ckimg3.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
				<key>clean</key>
				<dict>
					<key>img</key>
					<string>ckimg4.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
			</dict>
		</dict>
		<key>Salmon</key>
		<dict>
			<key>Steps</key>
			<dict>
				<key>prepare</key>
				<dict>
					<key>img</key>
					<string>ckimg0.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
				<key>chop</key>
				<dict>
					<key>img</key>
					<string>ckimg1.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
				<key>cook</key>
				<dict>
					<key>img</key>
					<string>ckimg2.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
				<key>eat</key>
				<dict>
					<key>img</key>
					<string>ckimg3.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
				<key>clean</key>
				<dict>
					<key>img</key>
					<string>ckimg4.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
			</dict>
		</dict>
		<key>Chicken and Waffles</key>
		<dict>
			<key>Steps</key>
			<dict>
				<key>prepare</key>
				<dict>
					<key>img</key>
					<string>ckimg0.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
				<key>chop</key>
				<dict>
					<key>img</key>
					<string>ckimg1.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
				<key>cook</key>
				<dict>
					<key>img</key>
					<string>ckimg2.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
				<key>eat</key>
				<dict>
					<key>img</key>
					<string>ckimg3.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
				<key>clean</key>
				<dict>
					<key>img</key>
					<string>ckimg4.png</string>
					<key>video</key>
					<string>sample.mov</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
