<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fullscreen</key>
	<false/>
	<key>background</key>
	<string>backplate.jpg</string>
	<key>button</key>
	<string>mario.png</string>
	<key>User Areas</key>
	<dict>
		<key>bottom-left</key>
		<dict>
			<key>recipe</key>
			<string>Tamales</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1200</integer>
			<key>r</key>
			<integer>0</integer>
			<key>back-button</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>keymap</key>
				<string>a</string>
			</dict>
			<key>select-button</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>keymap</key>
				<string>s</string>
			</dict>
			<key>forward-button</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>keymap</key>
				<string>d</string>
			</dict>
		</dict>
		<key>top-left</key>
		<dict>
			<key>recipe</key>
			<string>Salmon</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>r</key>
			<integer>180</integer>
			<key>back-button</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>keymap</key>
				<string>q</string>
			</dict>
			<key>select-button</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>keymap</key>
				<string>w</string>
			</dict>
			<key>forward-button</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>keymap</key>
				<string>e</string>
			</dict>
		</dict>
		<key>top-right</key>
		<dict>
			<key>recipe</key>
			<string>Grits</string>
			<key>x</key>
			<integer>1920</integer>
			<key>y</key>
			<integer>0</integer>
			<key>r</key>
			<integer>180</integer>
			<key>back-button</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>keymap</key>
				<string>r</string>
			</dict>
			<key>select-button</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>keymap</key>
				<string>t</string>
			</dict>
			<key>forward-button</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>keymap</key>
				<string>y</string>
			</dict>
		</dict>
		<key>bottom-right</key>
		<dict>
			<key>recipe</key>
			<string>Eggs</string>
			<key>x</key>
			<integer>1920</integer>
			<key>y</key>
			<integer>1200</integer>
			<key>r</key>
			<integer>0</integer>
			<key>back-button</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>keymap</key>
				<string>f</string>
			</dict>
			<key>select-button</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>keymap</key>
				<string>g</string>
			</dict>
			<key>forward-button</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>keymap</key>
				<string>h</string>
			</dict>
		</dict>
	</dict>
	<key>Sensor Boards</key>
	<dict>
		<key>148959</key>
		<dict>
			<key>a</key>
			<integer>0</integer>
			<key>s</key>
			<integer>1</integer>
			<key>d</key>
			<integer>2</integer>
			<key>f</key>
			<integer>3</integer>
			<key>g</key>
			<integer>4</integer>
			<key>h</key>
			<integer>5</integer>
		</dict>
		<key>148986</key>
		<dict>
			<key>q</key>
			<integer>0</integer>
			<key>w</key>
			<integer>1</integer>
			<key>e</key>
			<integer>2</integer>
			<key>r</key>
			<integer>3</integer>
			<key>t</key>
			<integer>4</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
	</dict>
</dict>
</plist>
