<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Recipes</key>
	<dict>
		<key>Tamales</key>
		<dict>
			<key>Steps</key>
			<dict>
				<key>step1</key>
				<dict>
					<key>img</key>
					<string>Tamales01Still.jpg</string>
					<key>video</key>
					<string>Tamales02Video.mov</string>
				</dict>
				<key>step2</key>
				<dict>
					<key>img</key>
					<string>Tamales03Still.jpg</string>
					<key>video</key>
					<string>Tamales04Video.mov</string>
				</dict>
				<key>step3</key>
				<dict>
					<key>img</key>
					<string>Tamales05Still.jpg</string>
					<key>video</key>
					<string>Tamales06Video.mov</string>
				</dict>
				<key>step4</key>
				<dict>
					<key>img</key>
					<string>Tamales07Still.jpg</string>
					<key>video</key>
					<string>Tamales08Video.mov</string>
				</dict>
				<key>step5</key>
				<dict>
					<key>img</key>
					<string>Tamales09Still.jpg</string>
					<key>video</key>
					<string>Tamales10Video.mov</string>
				</dict>
				<key>step6</key>
				<dict>
					<key>img</key>
					<string>Tamales11Still.jpg</string>
					<key>video</key>
					<string>Tamales12Video.mov</string>
				</dict>
			</dict>
		</dict>
		<key>Eggs</key>
		<dict>
			<key>Steps</key>
			<dict>
				<key>step1</key>
				<dict>
					<key>img</key>
					<string>Eggs01Still.jpg</string>
					<key>video</key>
					<string>Eggs02Video.mov</string>
				</dict>
				<key>step1 - 2</key>
				<dict>
					<key>img</key>
					<string>Eggs03Still.jpg</string>
					<key>video</key>
					<string>Eggs04Video.mov</string>
				</dict>
				<key>step1 - 3</key>
				<dict>
					<key>img</key>
					<string>Eggs05Still.jpg</string>
					<key>video</key>
					<string>Eggs06Video.mov</string>
				</dict>
				<key>step1 - 4</key>
				<dict>
					<key>img</key>
					<string>Eggs07Still.jpg</string>
					<key>video</key>
					<string>Eggs08Video.mov</string>
				</dict>
				<key>step1 - 5</key>
				<dict>
					<key>img</key>
					<string>Eggs09Still.jpg</string>
					<key>video</key>
					<string>Eggs10Video.mov</string>
				</dict>
				<key>step1 - 6</key>
				<dict>
					<key>img</key>
					<string>Eggs11Still.jpg</string>
					<key>video</key>
					<string>Eggs12Video.mov</string>
				</dict>
			</dict>
		</dict>
		<key>Grilling</key>
		<dict>
			<key>Steps</key>
			<dict>
				<key>step1</key>
				<dict>
					<key>img</key>
					<string>Grilling01Still.jpg</string>
					<key>video</key>
					<string>Grilling02Video.mov</string>
				</dict>
				<key>step1 - 2</key>
				<dict>
					<key>img</key>
					<string>Grilling03Still.jpg</string>
					<key>video</key>
					<string>Grilling04Video.mov</string>
				</dict>
				<key>step1 - 3</key>
				<dict>
					<key>img</key>
					<string>Grilling05Still.jpg</string>
					<key>video</key>
					<string>Grilling06Video.mov</string>
				</dict>
				<key>step1 - 4</key>
				<dict>
					<key>img</key>
					<string>Grilling07Still.jpg</string>
					<key>video</key>
					<string>Grilling08Video.mov</string>
				</dict>
				<key>step1 - 5</key>
				<dict>
					<key>img</key>
					<string>Grilling09Still.jpg</string>
					<key>video</key>
					<string>Grilling10Video.mov</string>
				</dict>
				<key>step1 - 6</key>
				<dict>
					<key>img</key>
					<string>Grilling11Still.jpg</string>
					<key>video</key>
					<string>Grilling12Video.mov</string>
				</dict>
			</dict>
		</dict>
		<key>Stew</key>
		<dict>
			<key>Steps</key>
			<dict>
				<key>step1</key>
				<dict>
					<key>img</key>
					<string>Stew01Still.jpg</string>
					<key>video</key>
					<string>Stew02Video.mov</string>
				</dict>
				<key>step1 - 2</key>
				<dict>
					<key>img</key>
					<string>Stew03Still.jpg</string>
					<key>video</key>
					<string>Stew04Video.mov</string>
				</dict>
				<key>step1 - 3</key>
				<dict>
					<key>img</key>
					<string>Stew05Still.jpg</string>
					<key>video</key>
					<string>Stew06Video.mov</string>
				</dict>
				<key>step1 - 4</key>
				<dict>
					<key>img</key>
					<string>Stew07Still.jpg</string>
					<key>video</key>
					<string>Stew08Video.mov</string>
				</dict>
				<key>step1 - 5</key>
				<dict>
					<key>img</key>
					<string>Stew09Still.jpg</string>
					<key>video</key>
					<string>Stew10Video.mov</string>
				</dict>
				<key>step1 - 6</key>
				<dict>
					<key>img</key>
					<string>Stew11Still.jpg</string>
					<key>video</key>
					<string>Stew12Video.mov</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
